//
.default-img{
    width: 100px;
    height: 100px;
}
.f-15{
    font-size: 15px;
}

.default-img-nor{
    height: 80px;
    widows: 80px;
}

.default-img-sm{
    height: 40px;
    widows: 40px;
}

.default-img-lg{
    height: 200px;
    widows: 200px;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    //left: 100%;
    margin-top: 28px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.menux{
    left: -78px !important;
}
.mw-13{
    min-width: 130px !important;
}

.overlay-order {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-img-lg{
    max-width: 450px;
}

.pb-0{
    padding-bottom: 0 !important;
}

.bg-warning{
    background-color: #ffc107 !important;
}

.mw-16{
    max-width: 160px;
}

.srcoll-order{
    max-height: 300px; overflow-y: scroll;
.hide{
    display: none !important;
}

.avatar{
    width: 200px;
    height: 150px;
    cursor: pointer;
}
.badgeO{
    font-size: 75% !important;
}
.w-100{
    width: 100%;
}
